body {
    width: 297mm;
    height: 210mm;
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.page_title {
    color: #0e680e;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 10px;
}

.taskList {
    border-right: 1px solid black;
}

.slotHeader {
    text-align: center;
    background-color: lightgrey;
}

h3 {
   border-bottom: 1px solid black; 
}

ul {
	padding-left: 20px;
}