
@media only screen and (min-width: 700px) {
    .pageContent {
	display: flex;
	justify-content: center;
    }
    

    .task {
	width: 300px;
    }

    .taskListWithHeader {
	margin: 5px;
    }

    .separator {
	min-width: 300px;
    }

    .createEditPage, .deletePage {
	width:500px;
	margin: 0 auto;
    }
    
    .createEditPage table {
	width: 100%;
    }
}

.filter_links {
    margin-top: 15px;
}

.filter_links a {
    display: block;
    margin-bottom: 6px;
}

.task {
    border: 1px solid;
    border-radius: 5px;
    margin: 8px;
    padding: 8px;
    color: #0e680e;
    background-color: white;
}


hr {
    display:none;
}


.form_clear_filter_button, .form_filter_button, .form_new_button , .form_submit_button{
    display:inline-block;
    margin-right: 10px;
    margin-bottom: 2px;
}


.page_title {
    text-align: center;
    color: #0e680e;
}

.form_submit_center {
    text-align: center;
}


.button {
    display: inline-block;
}

.button_labels {
    border: 1px solid;
    padding: 5px;
    display: inline-block;
    margin: 5px;
    margin-left: 0px;
}


.nextDate input, .taskForm input {
    border: 1px solid;
}

.page_header {
    position: sticky;
    top: 0px;
    background-color: #9fc39f;
    z-index: 1;
    border-bottom: solid 1px #0e680e;
}

/* COLOR SCHEME*/
body {
    background-color: #9fc39f;
}

.separator {
    background-color: #0a490a;
    color: white;
    text-align: center;
    border-radius: 5px;
    box-shadow: 4px 10px 10px #172617
}

a, a:link, a:visited  {
    color: #0e680e;
}

a:hover, a:focus{
    color: white;
    background-color: #0e680e;
}

.form_submit_button > input, .form_submit_center > input{
    color: #0e680e;
    background-color: white;
}

.form_submit_button > input:hover,
.form_submit_button > input:focus,
.form_submit_center > input:hover,
.form_submit_center > input:focus
{
    color: white;
    background-color: #0e680e;
}

.task {
	border-color: #b7d2b7;
	box-shadow: 4px 2px 10px #b7d2b7;
}

.doneButton,
.skipButton,
#create_trackHabit,
#edit_trackHabit,
input[id^="create_slot"],
input[id^="edit_slot"],
input[id^="edit_cat"],
input[id^="create_cat"]
{
    display: none;
}

.doneButton:checked + label,
.skipButton:checked + label,
#create_trackHabit:checked + label,
#edit_trackHabit:checked + label
{
    background-color: #0e680e;
    color: white;
}


.button_labels {
    border-color: lightgray;
}

.doneButton:checked + .noneLabel {
    background-color: lightgrey;
    color: white;
}

.nextDate input, .taskForm input {
    border-color: lightgray;
}

.task i {
    color: grey;
}

.global_errors {
    color: red;
}

.category{
    background-color: #ceecce;
    display: inline;
    font-weight: bold;
    font-size: small;
    padding: 3px;
}


.taskForm {
	background: white;
	color: #0e680e;
	border-radius: 5px;
	padding: 15px;
}
