<html>
  <head>
    <title>{{data['action'] | capitalize}} Task</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('style')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="deletePage">
    <turbo-frame id="overlay">
      <div class="page_content">
        <div class="page_header">
          <h1 class="page_title">{{data['action'] | capitalize}} Task</h1>
        </div>
        {% if data.taskData.todo_id %}
        <form class="taskForm" method="post" action="{{url_for('deleteTask', todo_id=data.taskData.todo_id)}}">
          <label>Confirm Delete</label>
          <div class="form_submit_center">
            <input type="submit" value="{{data['action'] | capitalize}} Task" data-turbo-frame="_top">
          </div>
        </form>
        {% else %}
        <div class="taskForm">
          Task Not Found
        </div>
        {% endif %}
      </div>
    </turbo-frame>
  </body>
</html>
