<!DOCTYPE html>
<html>
  <head>
  <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="page_header">
      <h1 class="page_title">Filter Task</h1>
      <div class="action_bar">
	<a href="./home" id="new_task">Home</a>
      </div>
    </div>
    <div class="filter_links">
      <a href="./home?query=trackHabit=True">Habit Tasks Only</a>
      <a href="./home?query=frequency=Daily">Daily Tasks Only</a>
    </div>
    
  </body>
</html>
