<!DOCTYPE html>
<html>

<head>
    <title>Tasks</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/plan.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('style')}}">
</head>

<body>
    <h2 class="page_title">Tasks</h2>
    <div style="display: flex">
    {% for currentDate in data.tasks %}
        <div class="taskList">
            <h3 class="page_title">{{ currentDate }} - {{data.dayOfWeekMapping[currentDate]}}</h3>
            {% for x in data.tasks[currentDate] %}
            <h4 class="slotHeader">{{data.slots[x]}}</h4>
            <ul {% if x == 'None' %} style="color: blue" {% endif %}>
            {% for task in data.tasks.get(currentDate).get(x) %} 
                <li><h4 class="task">{{task.task or "Untitled"}}</h4></li>
            {% endfor %}
            </ul>
            {% endfor %}
        </div>
    {% endfor %}
    </div>
</body>

</html>